.portfolio-section{
    padding: 50px;
}

.portfolio-section h2{
    color: #1a1a1a;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

/* Portfolio Cards */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

.portfolio-card {
  background: #fff;
  overflow: hidden;
  width: 32%;
  flex: 0 0 32% !important;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;

  color: #1a1a1a;
  text-decoration: none;
}

.portfolio-image-container{
    width: 100%;
  height: auto;
  aspect-ratio: 297/222;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
}
.portfolio-image {
  width: 80%;
  height: auto;

}

.portfolio-content {
  padding: 15px;
}

.portfolio-content h3 {
  font-size: 1.1rem;
  margin: 0 0 8px;
}

.portfolio-content p {
  color: #666;
  margin: 0 0 12px;
}

.portfolio-stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #444;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #dbdbdb 0%,
    #e6e6e6 20%,
    #f2f2f2 50%,
    #e6e6e6 80%,
    #dbdbdb 100%
  );
  background-size: 200% 100%;
  background-size: 200% 100%;
  animation: shimmer 1.8s ease-in-out infinite;
  border-radius: 12px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.skeleton-card {
  width: 32%;
  flex: 0 0 32% !important;
  aspect-ratio: 297/222;
  height: auto;
  margin-bottom: 20px;
  border-radius: 12px;
}


@media (max-width: 990px) {
  .portfolio-section{
    padding: 10px;
  }

  .portfolio-section h2{
    font-size: 32px;
  }

  .portfolio-card{
    width: 100%;
    flex: 0 0 100% !important;
  }
}