.contact-section {
  padding: 70px;
  background-color: #1a1a1a;
  color: #fff;
}

.contact-section h2 {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form-container, .contact-info-container {
  flex: 1;
  min-width: 300px;
}

/* Form */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 16px;
  color: #fff;
  resize: none;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #fff;
}

.contact-form textarea {
  height: 150px;
}

.submit-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.submit-btn::after{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px !important;
  padding: 3px;
  background: linear-gradient(90deg, #F7BA2C, #EA5459);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: background 0.3s 
ease;
}

.submit-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #F7BA2C, #EA5459);
    z-index: -1;
    border-radius: 7px !important;
    transition: width 0.4s 
ease;
}

.submit-btn:hover::before {
  width: 100%;
}

.submit-btn:active{
  scale: 0.9;
}

/* Contact Info & Socials */

.contact-info-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info-container p {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-content{
  display: flex;
  align-items: center;
  gap: 13px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.info-content img{
  width: 25px;
  filter: invert();
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 45px;
  
}

.social-icons a {
  font-size: 24px;
  color: #1a1a1a;
  transition: color 0.3s;
}

.social-icons a img{
  width: 40px;
  filter: grayscale();
  transition: all ease 0.3s;
}

.social-icons a.github-icon img{
  filter: contrast(0.5);
}

.social-icons a img:hover{
  scale: 1.1;
  filter: none;
}

.social-icons a.github-icon img:hover{
  filter: invert();
  scale: 1.1;
}

.download-cv-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: #fff;
  padding: 7px 30px;
  border-radius: 8px;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s;
}

.download-cv-btn::after{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px !important;
  padding: 3px;
  background: linear-gradient(90deg, #61F4DE, #6E78FF);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: background 0.3s 
ease;
}

.download-cv-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #61F4DE, #6E78FF);
    z-index: -1;
    border-radius: 7px !important;
    transition: width 0.4s 
ease;
}

.download-cv-btn:hover::before {
  width: 100%;
}

.download-cv-btn:active{
  scale: 0.9;
}

/* Responsive */
@media (max-width: 990px) {
  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .contact-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
